<div class="space-y-6">
    <div class="flex justify-center items-center mb-4 cursor-pointer shadow rounded w-fit px-2 py-2" (click)="goBack()">
        <img src="../../../../../assets/icons/go-back.svg" class="mr-1" />
        <p class="">Go Back</p>
    </div>
    <div class="p-3 rounded-lg border  space-y-6">
        <!-- Select Module & Features -->
        <div class="flex items-center justify-between mb-4">
            <h2 class="text-xl font-semibold text-gray-800">Select Module & Features</h2>
            <button class="px-4 py-2 bg-[#075FB0] text-white rounded hover:bg-[#075FB0] transition" *ngIf="identification != 'view'"
                (click)="saveConfiguration()">
                Save Configuration
            </button>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div>
                <label class="block text-sm font-medium mb-1">Select Role</label>
                <select class="w-full border-gray-300 rounded-md py-3" [(ngModel)]="roleName" [disabled]="isViewMode">
                    <option disabled selected value="">Select Role</option>
                    <option *ngFor="let item of rolelist" [value]="item.id">{{(item.name | titlecase)}}</option>
                </select>
            </div>
            <div>
                <label class="block text-sm font-medium mb-1">Select Sports</label>

                <ng-select [items]="dropdownList.sports" [multiple]="true" bindLabel="label" bindValue="value"
                    [(ngModel)]="selectedSports" [searchable]="true" placeholder="Select sports" class="w-full text-sm"
                    [disabled]="isViewMode">
                </ng-select>
            </div>
            <div>
                <label class="block text-sm font-medium mb-1">Select Location</label>

                <ng-select [items]="dropdownList.districts" [multiple]="true" bindLabel="label" bindValue="value"
                    [(ngModel)]="selectedLocations" [searchable]="true" placeholder="Select location"
                    class="w-full text-sm" [disabled]="isViewMode">
                </ng-select>
            </div>
        </div>

    </div>
    <!-- Tabs -->
    <div class="flex flex-wrap gap-2 border-b border-gray-200">
        <button *ngFor="let module of modules" (click)="onTabChange(module.key)"
            class="px-4 py-2 rounded text-sm mb-2 font-medium focus:outline-none hover:bg-[#075FB0]"
            [ngClass]="{ 'bg-[#075FB0] text-white font-semibold': selectedTab === module.key }"
            (click)="selectedTab = module.key" [disabled]="isViewMode">
            {{ module.label }}
        </button>
    </div>

    <!-- Permissions Panel -->
    <div class="p-4 border rounded-lg mt-4">
        <div class="flex justify-between items-center mb-4">
            <h3 class="text-lg font-semibold">
                Configure Permission For {{ selectedModuleLabel }}
            </h3>
            <label class="inline-flex items-center cursor-pointer">
          
                <label class="inline-flex items-center cursor-pointer">
                    <input type="checkbox" class="sr-only peer" [(ngModel)]="deselectAll"
                        (ngModelChange)="handleDeselectAll()" [disabled]="isViewMode" />

                    <div class="relative w-11 h-6 rounded-full peer
                peer-focus:ring-4 peer-focus:ring-blue-300 
                peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full
                peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px]
                after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5
                after:transition-all"
                [ngClass]="deselectAll ? 'bg-[#075FB0]' : 'bg-gray-400'">
                    </div>
                </label>
                <span class="ml-2 text-sm">De-select All</span>
            </label>
        </div>
        <div class="py-2 w-80">
            <label class="block text-sm font-medium mb-1">Select Level</label>
            <select
            class="w-full border-gray-300 rounded-md py-3"
            [(ngModel)]="accessLevels[selectedTab]"
            (ngModelChange)="onAccessLevelChange(selectedTab, $event)" [disabled]="isViewMode">
            <option disabled [value]="''">Select Role</option>
            <option *ngFor="let item of levels" [value]="item.value">{{ item.label }}</option>
          </select>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <div *ngFor="let perm of selectedModulePermissions"
                class="p-3 border rounded flex items-center justify-between">
                <div>
                    <p class="font-medium capitalize">{{ (perm | titlecase) }}</p>
                    <p class="text-xs text-gray-500">
                        {{ permissionDescriptions[perm]}}
                    </p>

                </div>


                <label class="inline-flex items-center cursor-pointer">
                    <input type="checkbox" class="sr-only peer" [checked]="permissionStates[selectedTab] && permissionStates[selectedTab][perm] || false"
                        (change)="onPermissionChange(perm, $event)" [disabled]="isViewMode" />

                    <div class="relative w-11 h-6 rounded-full peer
                peer-focus:ring-4 peer-focus:ring-blue-300 
                peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full
                peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px]
                after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5
                after:transition-all"
                [ngClass]="(permissionStates[selectedTab] && permissionStates[selectedTab][perm] || false) ? 'bg-[#075FB0]' : 'bg-gray-400'">
                    </div>
                </label>
            </div>
        </div>
    </div>

    <!-- Summary Section -->
    <div class="p-4 rounded-lg border space-y-2" *ngIf="selectedTab && permissionStates[selectedTab]">
        <h3 class="text-lg font-semibold">Player Approver</h3>

        <!-- Optional: Static Info (Sport Category, Location) -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="border rounded p-3">
                <p class="text-sm font-medium text-gray-600">Sports Category</p>
                <p class="flex items-center text-gray-800 space-x-2 pt-2">
                    <img src="../../../../../../assets/role/Vector (39).svg" class="w-4 h-4" alt="Location Icon" />
                    <ng-container *ngIf="selectedSports?.length; else isNotSelected">
                        <ng-container *ngFor="let item of selectedSports; let last = last">
                            <span>{{ item | underscoreToSpace | titlecase }}<ng-container *ngIf="!last">, </ng-container></span>
                        </ng-container>
                    </ng-container>
                    <ng-template #isNotSelected>
                        <span>--</span>
                    </ng-template>
                </p>
            </div>
            <div class="border rounded p-3">
                <p class="text-sm font-medium text-gray-600">Location</p>
                <p class="flex items-center text-gray-800 space-x-2 pt-2">
                    <img src="../../../../../../assets/role/Vector (40).svg" class="w-4 h-4" alt="Location Icon" />

                    <ng-container *ngIf="selectedLocations?.length; else isNotSelectedloc">
                        <ng-container *ngFor="let item of selectedLocations; let last = last">
                            <span>{{ item | underscoreToSpace | titlecase }}<ng-container *ngIf="!last">, </ng-container></span>
                        </ng-container>
                    </ng-container>
                    <ng-template #isNotSelectedloc>
                        <span>--</span>
                    </ng-template>
                </p>
            </div>
        </div>

        <!-- Dynamic Module Summary -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-3">
            <div *ngFor="let module of modules" class="p-3 border rounded relative">
                <div class="absolute top-4 right-2">
                    <!-- You can add an icon here if needed -->
                    <img style="background-color:#075FB0;" class="p-1 rounded"
                        src="../../../../../../assets/role/Vector (41).svg">
                </div>
                <p class="font-medium">{{ module.label }}</p>
                <p class="text-xs text-gray-500">Level: {{ getLevelDisplayLabel(module.key) }}</p>
                <p class="text-xs mt-1">
                    Permissions:
                    <span class="font-semibold">
                        {{
                        getEnabledPermissions(module.key).length
                        ? (getEnabledPermissions(module.key).join(', ') | underscoreToSpace | titlecase)
                        : 'None'
                        }}
                    </span>
                </p>
            </div>
        </div>
    </div>