<form class="my-10 space-y-6 mt-60" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="text-left">
    <h2 class="mb-1 sign-in-heading">Welcome to Sports App</h2>
    <p class="sign-in-sub-heading">Kindly fill in your details below to log in to your account</p>
  </div>

  <!-- Username -->
  <div class="form__group">
    <label for="user_name" class="mb-2 sign-in-input">User Name</label>
    <input
      type="text"
      id="user_name"
      formControlName="user_name"
      [ngClass]="{
        'is__invalid-input': submitted && f['user_name'].invalid,
        'border-red-500': loginError,
        'border': true
      }"
      class="h-10 mt-1 w-full px-3 border rounded sign-in-input-placeholder "
      
      placeholder="Enter username" />
    <div *ngIf="submitted && f['user_name'].invalid" class="is__invalid-error text-red-600 text-sm mt-1">
      <div *ngIf="f['user_name'].errors?.['required']">Username is required</div>
      <div *ngIf="f['user_name'].errors?.['minlength']">Minimum 3 characters</div>
    </div>
  </div>

  <!-- Password -->
  <div class="form__group">
    <label for="password" class="mb-2 sign-in-input">Password</label>
    <div class="relative">
      <input
        [type]="passwordTextType ? 'text' : 'password'"
        id="password"
        formControlName="password"
        [ngClass]="{
          'is__invalid-input': submitted && f['password'].invalid,
          'border-red-500': loginError,
          'border': true
        }"
        class="h-10 mt-1 w-full px-3 border rounded sign-in-input-placeholder "
        [class.border-red-500]="loginError"
        placeholder="Enter password" />
      <span
        class="text-muted-foreground absolute top-3.5 cursor-pointer right-3"
        (click)="togglePasswordTextType()">
        <svg-icon
          [src]="passwordTextType ? 'assets/icons/heroicons/outline/eye.svg' : 'assets/icons/heroicons/outline/eye-off.svg'"
          [svgClass]="'h-5 w-5'">
        </svg-icon>
      </span>
    </div>
    <div *ngIf="submitted && f['password'].invalid" class="is__invalid-error text-red-600 text-sm mt-1">
      <div *ngIf="f['password'].errors?.['required']">Password is required</div>
      <div *ngIf="f['password'].errors?.['minlength']">Minimum 6 characters</div>
    </div>
  </div>

  <!-- Forgot Password -->
  <div class="mt-0">
    <a routerLink="/auth/forgot-password" class="cursor-pointer underline sign-in-forget">Forgot password?</a>
  </div>

  <div class="is__invalid-error text-red-600 text-sm" *ngIf="loginError"> 
    We couldn’t find an account matching the email and password you entered. Please try again.
  </div>

  <!-- Submit Button -->
  <div>
    <app-button full impact="bold" tone="primary" shape="rounded" size="large" type="submit">
      Log In
    </app-button>
    <!-- <button type="submit" class="w-full h-10 rounded bg-blue-600 text-white font-bold">Login</button> -->
  </div>

  <!-- Register -->
  <div class="flex sign-in-register-lable items-center justify-center">
    Don’t have an account?
    <a routerLink="/auth/sign-up" class="p-0 pl-1 underline sign-in-register ">Register</a>
  </div>
</form>
