<apx-chart
  *ngIf="chartOptions.series && chartOptions.chart"
  [series]="chartOptions.series!"
  [chart]="chartOptions.chart!"
  [xaxis]="chartOptions.xaxis!"
  [yaxis]="chartOptions.yaxis!"
  [dataLabels]="chartOptions.dataLabels!"
  [fill]="chartOptions.fill!"
  [stroke]="chartOptions.stroke!"
  [tooltip]="chartOptions.tooltip!"
  [legend]="chartOptions.legend!"
  [grid]="chartOptions.grid!"
  [title]="chartOptions.title!"
  [states]="chartOptions.states!"
  [responsive]="chartOptions.responsive!"
  [colors]="chartOptions.colors!">
</apx-chart>
