<div class="flex justify-between items-center mb-6">
  <app-nft-header [title]="'Sports Infrastructure Management Portal'"></app-nft-header>
  <button class="bg-[#075FB0] text-white px-6 py-2 rounded-lg font-medium hover:bg-blue-700" (click)="goToAddVenue()">
    + Add New Venue
  </button>
</div>

<div class="">
  <!-- ✅ Hide when showActions is true -->
  <app-cards [countsData]="analyticsdata"></app-cards>

  <app-venue-analytics-district-card *ngIf="!showActions" [feedback]="feedback" [topRatedFacilities]="topRatedFacilities" [districts]="districts" [sports]="sports" (filterChanged)="onFilterUpdate($event)">
  </app-venue-analytics-district-card>
</div>



<div class="mt-3">
  <app-venue-facilities-card (filterChanged)="onFilterUpdate($event)" [months]="months" *ngIf="!showActions && (facilities_per_sports?.length > 0 || booking_by_user_type?.length > 0)" [facilities_per_sports]="facilities_per_sports" [booking_by_user_type]="booking_by_user_type">
  </app-venue-facilities-card>
</div>

<div class="mt-3">
  <app-venue-facility-booking-card *ngIf="!showActions" [facility_booking_rates]="facility_booking_rates"
   [sports]="sports"
   (filterChanged)="onFilterUpdate($event)"
   >
  </app-venue-facility-booking-card>
</div>

<div class="mt-3">
  <app-venue-list [showActions]="showActions" (viewAllClicked)="onViewAllClicked()"></app-venue-list>
</div>