<!-- facility-booking-rates.component.html -->
<div class="bg-white rounded-lg shadow-sm border border-gray-200 p-6">
  <!-- Header -->
  <div class="flex items-center justify-between mb-6">
    <div class="flex items-center gap-3">
      <div class="w-8 h-8 bg-orange-500 rounded flex items-center justify-center">
        <svg-icon src="/assets/icons/facility-utilization.svg"></svg-icon>
      </div>
      <h2 class="text-lg font-semibold text-gray-900">
        Facility and Infrastructure Booking Rates

      </h2>
    </div>


    <div class="relative w-64">
      <select [(ngModel)]="selectedCategory" (ngModelChange)="onCategoryChange($event)" class="block appearance-none w-full bg-white border border-gray-300 text-black py-2 px-3 pr-8 rounded leading-tight focus:outline-none focus:border-blue-500">
        <option [ngValue]="null" disabled>-- Select Sports --</option>
        <option *ngFor="let sport of sports" [value]="sport.value">
          {{ sport.label }}
        </option>
      </select>



      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
        </svg>
      </div>
    </div>


  </div>

  <!-- Chart Container -->
  <div class="w-full">
    <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [xaxis]="chartOptions.xaxis!" [yaxis]="chartOptions.yaxis!" [dataLabels]="chartOptions.dataLabels!" [grid]="chartOptions.grid!" [fill]="chartOptions.fill!" [colors]="chartOptions.colors!" [tooltip]="chartOptions.tooltip!" [plotOptions]="chartOptions.plotOptions!"></apx-chart>
  </div>
</div>