<div class="flex h-screen w-screen">
  <div class="flex flex-1 items-start justify-center">
    <div class="max-w-2xl overflow-y-auto px-4 sm:w-[528px]">
      <!-- logo -->
      <!-- <div class="flex items-center justify-center gap-3">
        <a class="bg-primary rounded-sm p-2">
          <svg-icon src="assets/icons/logo.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
        </a>
      </div> -->
      <!-- Route -->
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="auth-bg hidden flex-1 items-center justify-center bg-cover lg:flex bg-vectors">
    <div class="max-w-2xl space-y-4 p-8 py-12 text-left text-white bg-blur">
      <!-- <img src="./assets/images/auth-screens.png" alt="dashboard widget" /> -->
      <h1 class="text-6xl font-bold">Connecting Talent to Success</h1>
      <p class="text-2xl font-light">Bringing athletes, coaches, and venues together for a smarter future. Manage, track, and grow all in one seamless platform.
      </p>
    </div>
  </div>
</div>
