<div class="flex gap-2">
  <div class="bg-[#EAF5FFE0] p-4 rounded-xl flex items-center justify-between w-full max-w-sm">
    <!-- Left Section -->
    <div>
      <div class="text-[22px] font-bold text-black">{{athletesData?.total_users?.counts}}</div>
      <div class="text-xs text-black font-medium">Total Users</div>

      <div class="mt-2 flex items-center text-xs font-medium gap-1.5">
        <div class="bg-white shadow-lg py-1 px-2 rounded-xl flex items-center gap-1">
          <!-- Up Arrow -->
          <svg *ngIf="athletesData?.total_users?.direction === 'up'" width="7" height="10" viewBox="0 0 7 10"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M3.86588 1.5086L0.901881 4.7486L0.157881 4.0886L3.34988 0.524603L3.86588 1.5086ZM3.84188 9.0686H2.83388V1.3526H3.84188V9.0686ZM6.50588 4.1126L5.76188 4.7606L2.80988 1.5086L3.34988 0.524603L6.50588 4.1126Z"
              fill="#075FB0" />
          </svg>
          <!-- Down Arrow -->
          <svg *ngIf="athletesData?.total_users?.direction === 'down'" width="7" height="10" viewBox="0 0 7 10"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M3.13412 8.4914L6.09812 5.2514L6.84212 5.9114L3.65012 9.475397L3.13412 8.4914ZM3.15812 0.9314H4.16612V8.6474H3.15812V0.9314ZM0.49412 5.8874L1.23812 5.2394L4.19012 8.4914L3.65012 9.475397L0.49412 5.8874Z"
              fill="#DC2626" />
          </svg>
          <!-- Neutral/No Change -->
          <svg *ngIf="athletesData?.total_users?.direction === 'neutral'" width="7" height="10" viewBox="0 0 7 10"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.5 4.5H6.5M0.5 5.5H6.5" stroke="#6B7280" stroke-width="1" />
          </svg>

          <span [ngClass]="{
            'text-[#075FB0]': athletesData?.total_users?.direction === 'up',
            'text-[#DC2626]': athletesData?.total_users?.direction === 'down',
            'text-[#6B7280]': athletesData?.total_users?.direction === 'neutral'
          }">{{athletesData?.total_users?.percentage | number:'1.0-2'}}%</span>
        </div>
        <span class="text-black">Last 7 Days</span>
      </div>
    </div>

    <!-- Right Icon -->
    <div class="bg-white rounded-lg p-2 shadow-gray/10">
      <img src="../../../../../../assets/stackholder/total.svg" alt="total">
    </div>
  </div>

  <div class="bg-[#D9FFE3B0] p-4 rounded-xl flex items-center justify-between w-full max-w-sm">
    <!-- Left Section -->
    <div>
      <div class="text-[22px] font-bold text-black">{{athletesData?.admin_users?.counts}}</div>
      <div class="text-xs text-black font-medium">Admin Users</div>

      <div class="mt-2 flex items-center text-xs font-medium gap-1.5">
        <div class="bg-white shadow-lg py-1 px-2 rounded-xl flex items-center gap-1">
          <!-- Up Arrow -->
          <svg *ngIf="athletesData?.admin_users?.direction === 'up'" width="7" height="10" viewBox="0 0 7 10"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M3.86588 1.5086L0.901881 4.7486L0.157881 4.0886L3.34988 0.524603L3.86588 1.5086ZM3.84188 9.0686H2.83388V1.3526H3.84188V9.0686ZM6.50588 4.1126L5.76188 4.7606L2.80988 1.5086L3.34988 0.524603L6.50588 4.1126Z"
              fill="#00732B" />
          </svg>
          <!-- Down Arrow -->
          <svg *ngIf="athletesData?.admin_users?.direction === 'down'" width="7" height="10" viewBox="0 0 7 10"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M3.13412 8.4914L6.09812 5.2514L6.84212 5.9114L3.65012 9.475397L3.13412 8.4914ZM3.15812 0.9314H4.16612V8.6474H3.15812V0.9314ZM0.49412 5.8874L1.23812 5.2394L4.19012 8.4914L3.65012 9.475397L0.49412 5.8874Z"
              fill="#DC2626" />
          </svg>
          <!-- Neutral -->
          <svg *ngIf="athletesData?.admin_users?.direction === 'neutral'" width="7" height="10" viewBox="0 0 7 10"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.5 4.5H6.5M0.5 5.5H6.5" stroke="#6B7280" stroke-width="1" />
          </svg>

          <span [ngClass]="{
            'text-[#00732B]': athletesData?.admin_users?.direction === 'up',
            'text-[#DC2626]': athletesData?.admin_users?.direction === 'down',
            'text-[#6B7280]': athletesData?.admin_users?.direction === 'neutral'
          }">{{athletesData?.admin_users?.percentage | number:'1.0-2'}}%</span>
        </div>
        <span class="ml-2 text-black">Past 30 days</span>
      </div>
    </div>

    <!-- Right Icon -->
    <div class="bg-white rounded-lg p-2">
      <img
        src="../../../../../../assets/usermanagement/admin_panel_settings_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24 1.svg"
        alt="admin">
    </div>
  </div>

  <div class="bg-[#FFF8E1D4] p-4 rounded-xl flex items-center justify-between w-full max-w-sm">
    <!-- Left Section -->
    <div>
      <div class="text-[22px] font-bold text-black">{{athletesData?.venue_managers?.counts}}</div>
      <div class="text-xs text-black font-medium">Venue Managers</div>

      <div class="mt-2 flex items-center text-xs font-medium gap-1.5">
        <div class="bg-white shadow-lg py-1 px-2.5 rounded-xl flex items-center gap-1">
          <!-- Up Arrow -->
          <svg *ngIf="athletesData?.venue_managers?.direction === 'up'" width="7" height="10" viewBox="0 0 7 10"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M3.86588 1.5086L0.901881 4.7486L0.157881 4.0886L3.34988 0.524603L3.86588 1.5086ZM3.84188 9.0686H2.83388V1.3526H3.84188V9.0686ZM6.50588 4.1126L5.76188 4.7606L2.80988 1.5086L3.34988 0.524603L6.50588 4.1126Z"
              fill="#E77213" />
          </svg>
          <!-- Down Arrow -->
          <svg *ngIf="athletesData?.venue_managers?.direction === 'down'" width="7" height="10" viewBox="0 0 7 10"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M3.13412 8.4914L6.09812 5.2514L6.84212 5.9114L3.65012 9.475397L3.13412 8.4914ZM3.15812 0.9314H4.16612V8.6474H3.15812V0.9314ZM0.49412 5.8874L1.23812 5.2394L4.19012 8.4914L3.65012 9.475397L0.49412 5.8874Z"
              fill="#DC2626" />
          </svg>
          <!-- Neutral -->
          <svg *ngIf="athletesData?.venue_managers?.direction === 'neutral'" width="7" height="10" viewBox="0 0 7 10"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.5 4.5H6.5M0.5 5.5H6.5" stroke="#6B7280" stroke-width="1" />
          </svg>

          <span [ngClass]="{
            'text-[#E77213]': athletesData?.venue_managers?.direction === 'up',
            'text-[#DC2626]': athletesData?.venue_managers?.direction === 'down',
            'text-[#6B7280]': athletesData?.venue_managers?.direction === 'neutral'
          }">{{athletesData?.venue_managers?.percentage | number:'1.0-2'}}%</span>
        </div>
        <span class="ml-2 text-black">Past 30 days</span>
      </div>
    </div>

    <!-- Right Icon -->
    <div class="bg-white rounded-lg p-2">
      <img src="../../../../../../assets/usermanagement/activity_zone_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24 (1) 2.svg"
        alt="venue">
    </div>
  </div>

  <div class="bg-[#F0E8FF] p-4 rounded-xl flex items-center justify-between w-full max-w-sm">
    <!-- Left Section -->
    <div>
      <div class="text-[22px] font-bold text-black">{{athletesData?.active_users?.counts}}</div>
      <div class="text-xs text-black font-medium">Active Users</div>

      <div class="mt-2 flex items-center text-xs font-medium gap-1.5">
        <div class="bg-white shadow-lg py-1 px-2 rounded-xl flex items-center gap-1">
          <!-- Up Arrow -->
          <svg *ngIf="athletesData?.active_users?.direction === 'up'" width="7" height="10" viewBox="0 0 7 10"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M3.86588 1.5086L0.901881 4.7486L0.157881 4.0886L3.34988 0.524603L3.86588 1.5086ZM3.84188 9.0686H2.83388V1.3526H3.84188V9.0686ZM6.50588 4.1126L5.76188 4.7606L2.80988 1.5086L3.34988 0.524603L6.50588 4.1126Z"
              fill="#7C4DFF" />
          </svg>
          <!-- Down Arrow -->
          <svg *ngIf="athletesData?.active_users?.direction === 'down'" width="7" height="10" viewBox="0 0 7 10"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M3.13412 8.4914L6.09812 5.2514L6.84212 5.9114L3.65012 9.475397L3.13412 8.4914ZM3.15812 0.9314H4.16612V8.6474H3.15812V0.9314ZM0.49412 5.8874L1.23812 5.2394L4.19012 8.4914L3.65012 9.475397L0.49412 5.8874Z"
              fill="#DC2626" />
          </svg>
          <!-- Neutral -->
          <svg *ngIf="athletesData?.active_users?.direction === 'neutral'" width="7" height="10" viewBox="0 0 7 10"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.5 4.5H6.5M0.5 5.5H6.5" stroke="#6B7280" stroke-width="1" />
          </svg>

          <span [ngClass]="{
            'text-[#7C4DFF]': athletesData?.active_users?.direction === 'up',
            'text-[#DC2626]': athletesData?.active_users?.direction === 'down',
            'text-[#6B7280]': athletesData?.active_users?.direction === 'neutral'
          }">{{athletesData?.active_users?.percentage | number:'1.0-2'}}%</span>
        </div>
        <span class="ml-2 text-black">Past 30 days</span>
      </div>
    </div>

    <!-- Right Icon -->
    <div class="bg-white rounded-lg p-2">
      <img src="../../../../../../assets/usermanagement/toggle_on_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24 (3) 1.svg"
        alt="active">
    </div>
  </div>

  <div class="bg-[#F0F4DA] p-4 rounded-xl flex items-center justify-between w-full max-w-sm">
    <!-- Left Section -->
    <div>
      <div class="text-[22px] font-bold text-black">{{athletesData?.inactive_users?.counts}}</div>
      <div class="text-xs text-black font-medium">Inactive Users</div>

      <div class="mt-2 flex items-center text-xs font-medium gap-1.5">
        <div class="bg-white shadow-lg py-1 px-2 rounded-xl flex items-center gap-1">
          <!-- Up Arrow -->
          <svg *ngIf="athletesData?.inactive_users?.direction === 'up'" width="7" height="10" viewBox="0 0 7 10"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M3.86588 1.5086L0.901881 4.7486L0.157881 4.0886L3.34988 0.524603L3.86588 1.5086ZM3.84188 9.0686H2.83388V1.3526H3.84188V9.0686ZM6.50588 4.1126L5.76188 4.7606L2.80988 1.5086L3.34988 0.524603L6.50588 4.1126Z"
              fill="#0097A7" />
          </svg>
          <!-- Down Arrow -->
          <svg *ngIf="athletesData?.inactive_users?.direction === 'down'" width="7" height="10" viewBox="0 0 7 10"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M3.13412 8.4914L6.09812 5.2514L6.84212 5.9114L3.65012 9.475397L3.13412 8.4914ZM3.15812 0.9314H4.16612V8.6474H3.15812V0.9314ZM0.49412 5.8874L1.23812 5.2394L4.19012 8.4914L3.65012 9.475397L0.49412 5.8874Z"
              fill="#DC2626" />
          </svg>
          <!-- Neutral -->
          <svg *ngIf="athletesData?.inactive_users?.direction === 'neutral'" width="7" height="10" viewBox="0 0 7 10"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.5 4.5H6.5M0.5 5.5H6.5" stroke="#6B7280" stroke-width="1" />
          </svg>

          <span [ngClass]="{
            'text-[#0097A7]': athletesData?.inactive_users?.direction === 'up',
            'text-[#DC2626]': athletesData?.inactive_users?.direction === 'down',
            'text-[#6B7280]': athletesData?.inactive_users?.direction === 'neutral'
          }">{{athletesData?.inactive_users?.percentage | number:'1.0-2'}}%</span>
        </div>
        <span class="ml-2 text-black">Past 30 days</span>
      </div>
    </div>

    <!-- Right Icon -->
    <div class="bg-white rounded-lg p-2">
      <img src="../../../../../../assets/usermanagement/toggle_off_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24 (1) 1.svg"
        alt="inactive">
    </div>
  </div>
</div>