
<div class="p-12 my-10 flex justify-between flex-col items-start">
<div class="flex justify-center items-center mb-4 cursor-pointer shadow rounded w-fit px-2 py-2" routerLink="/auth/forgot-password">
      <img src="../../../../../assets/icons/go-back.svg" class="mr-1" />
      <p class="">Go Back</p>
    </div>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="space-y-6 rounded-[8px] mt-40">
      <div class="text-left">
        <h2 class="text-[#313131] mb-1 text-3xl font-bold">Set a password</h2>
        <p class="text-[#49475A] text-md">Your previous password has been reset. Please set a new password for your account.</p>
      </div>
    
      <div class="space-y-3 text-left">
        <!-- Password -->
        <div class="form__group">
          <div class="relative">
            <label for="password" class="text-sm text-[#9794AA] mb-2">Create Password</label>
            <input
              formControlName="password"
              [type]="passwordTextType ? 'text' : 'password'"
              id="password"
              class="h-10 mt-2 w-full px-3 border rounded"
              [ngClass]="{ 'border-red-500': submitted && f['password'].invalid }"
              placeholder="Create password"
            />
            <span
              class="text-muted-foreground absolute top-10 cursor-pointer ltr:right-3 rtl:left-3"
              (click)="togglePasswordTextType()"
            >
              <svg-icon
                [src]="!passwordTextType ? 'assets/icons/heroicons/outline/eye-off.svg' : 'assets/icons/heroicons/outline/eye.svg'"
                [svgClass]="'h-5 w-5'"
              ></svg-icon>
            </span>
          </div>
          <div *ngIf="submitted && f['password'].errors" class="text-red-600 text-sm mt-1">
            <div *ngIf="f['password'].errors['required']">Password is required</div>
            <div *ngIf="f['password'].errors['minlength']">Minimum 6 characters</div>
          </div>
        </div>
    
        <!-- Confirm Password -->
        <div class="form__group">
          <div class="relative">
            <label for="confirmpassword" class="text-sm text-[#9794AA] mb-2">Confirm Password</label>
            <input
              formControlName="confirmpassword"
              [type]="passwordTextTypeone ? 'text' : 'password'"
              id="confirmpassword"
              class="h-10 mt-2 w-full px-3 border rounded"
              [ngClass]="{
                'border-red-500':
                  submitted && (f['confirmpassword'].invalid || resetPasswordForm.errors?.['mismatch'])
              }"
              placeholder="Confirm password"
            />
            <span
              class="text-muted-foreground absolute top-10 cursor-pointer ltr:right-3 rtl:left-3"
              (click)="togglePasswordTextTypeconfirm()"
            >
              <svg-icon
                [src]="!passwordTextTypeone ? 'assets/icons/heroicons/outline/eye-off.svg' : 'assets/icons/heroicons/outline/eye.svg'"
                [svgClass]="'h-5 w-5'"
              ></svg-icon>
            </span>
          </div>
          <div
            *ngIf="submitted && (f['confirmpassword'].errors || resetPasswordForm.errors?.['mismatch'])"
            class="text-red-600 text-sm mt-1"
          >
            <div *ngIf="f['confirmpassword'].errors?.['required']">Confirm password is required</div>
            <div *ngIf="resetPasswordForm.errors?.['mismatch']">Passwords do not match</div>
          </div>
        </div>
      </div>
    
      <!-- Submit Button -->
      <div class="flex justify-between space-x-2">
        <div class="w-full">
          <app-button full impact="bold" tone="primary" shape="rounded" size="large" type="submit">
            Verify
          </app-button>
        </div>
      </div>
    </form>
    
</div>

